  // VA! Dev styles
.devred { border: 1px solid red !important; }
.devblue { border: 1px solid blue !important; }
.devgreen { border: 1px solid green !important; }
.devmag { border: 1px solid magenta !important; }

// VARIABLES - COLOR
$primary-bg-color:                #337AB7;

// VA! FONT

$primary-font-family:             'Titillium Web', 'Lucida Grande', 'Lucida Sans', sans-serif;
$primary-font-color:              #333;
$secondary-font-color:              #FFF;

html, body {
  margin: 0;
  height: 100%;
}

.page-wrap {
  position: relative;
  top: 10px;
  left: 10px;
}

#button {
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
}


#c {
  // width: 100%;
  // height: 100%;
  width: 700px;
  height: 472px;
  display: block;
}